.list-cell-background {
    -fx-background-color: transparent;
}

.cell-container {
    -fx-background-color: -colorscheme-lightestblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 6, 0, 0, 0);
}