.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -colorscheme-offwhite;
}

.tab-pane .tab {
    -fx-background-color: -colorscheme-darkgray;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: -colorscheme-lightgray;
}

.tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill: -colorscheme-black;
}

.tab:selected .tab-label {
    -fx-alignment: center;
    -fx-text-fill: -colorscheme-black;
}

.addWorkspaceButton {
    -fx-background-color: -colorscheme-lightgray;
    -fx-background-radius: 5;
    -fx-border-color: -colorscheme-darkgray;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.addWorkspaceButton:hover {
    -fx-background-color: -colorscheme-darkgray;
}

.addWorkspaceButton:pressed {
    -fx-background-color: -colorscheme-offwhite;
}

.workspaceBackgroundPane {
    -fx-background-color: -colorscheme-offwhite;
}

.clickable {
    -fx-cursor: hand;
}