.inPort {
    -fx-fill: #FFF;
}

.inPort:hover {
    -fx-fill: #888;
}

.inPort.candidate {
    -fx-fill: #8F8;
}

.inPort.candidate:hover {
    -fx-fill: #8F8;
}

.outPort {
    -fx-fill: #FFF;
}

.outPort:hover {
    -fx-fill: #888;
}

.outPort.candidate {
    -fx-fill: #88F;
}

.outPort.candidate:hover {
    -fx-fill: #88F;
}

.connected {
    -fx-fill: #FFF !important;
}

.connected.active {
    -fx-fill: #F00 !important;
}