Martin Hilgendorf <marhilg@student.chalmers.se> pilino1234 <pilino1234@zoho.eu>
Martin Hilgendorf <marhilg@student.chalmers.se> pilino1234 <pilino1234@users.noreply.github.com>
Elias Sundqvist <eliassu@student.chalmers.se> Elias Sundqvist <elias@sundqvist.com>
Jacob Eriksson <jaceri@student.chalmers.se> Jacob Eriksson <jacob.a.eriksson@gmail.com>
Jimmy M Andersson <jimmyan@student.chalmers.se> Jimmy M Andersson <hello@applyn.se>
